.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 2em;
}

/*==============================================
Carousel
==============================================*/

.ing-carousel {
  overflow: hidden;
  padding-bottom: 30px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  a {
    display: block;
  }

  // min-height: 328px;
  height: 365px;
  // @media (min-width: 768px) {
  //   min-height: 433px;
  // }
  @media (min-width: 1024px) {
    height: 438px;
  }
  // @media (min-width: 1440px) {
  //   min-height: 508px;
  // }
}

.ing-carousel__inner {
  position: relative;
  background: #212121;
  border-bottom: 3px solid rgb(255, 115, 0);
  height: 100%;
}

/*==============================================
Carousel Background
==============================================*/

.ing-carouselBackground {
  background: #000;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  overflow: hidden;

  img {
    z-index: -1;
    position: absolute;
    top: 0;
    /* expand the container padding */
    min-width: calc(100% + 20px);
    left: -10px;
    opacity: 0;
    filter: blur(4px);
    transition: opacity .6s ease-in-out;
  }

  img[data-active="true"] {
    z-index: 0;
    opacity: 0.4;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 150px;
      background: linear-gradient(
        to right,
        #212121 0,
        rgba(33, 33, 33, 0) 100%
      );
    }
  }
}

.ing-carouselBackground__inner {
  height: 100%;

  &:empty {
    opacity: .5;
    background: center center no-repeat url('//ingresso-a.akamaihd.net/catalog/Content/img/placeholder-movie-image-13223897b1.jpg');
    background-size: cover;
  }


  @media (min-width: 768px) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      width: 280px;
      background: linear-gradient(
        to right,
        rgba(33, 33, 33, 0) 0,
        #212121 100%
      );
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 170px;
      background: linear-gradient(
        rgba(125, 185, 232, 0) 0%,
        rgba(0, 0, 0, 0.38) 38%,
        rgb(0, 0, 0) 100%
      );
    }
  }
}

/*==============================================
Carousel Description
==============================================*/

.ing-carouselDescription {
  position: absolute;
  padding: 10px;
  padding-top: 120px;
  z-index: 4;
}

.ing-carouselDescription__tagTitle {
  display: block;
  width: 90px;
  height: 19px;
  margin-right: 10px;
  margin-bottom: 12px;
  font-family: Klavika-Bold;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(255, 115, 0);
  text-transform: uppercase;
}

.ing-carouselDescription__link {
  cursor: pointer;
  pointer-events: none;
}

.ing-carouselDescription__titleWrapper {
  display: none;
  position: absolute;
  top: 30px;
  width: 200px;
  opacity: 0;
  transition: opacity .6s ease-in-out;

  &[data-active="true"] {
    opacity: 1;
  }
}

.ing-carouselDescription__title {
  font-size: 20px;
  font-family: Klavika-Bold;
}

.ing-carouselDescription__tagItem {
  margin: 0 10px 5px 0;
}

/*==============================================
Carousel Item
==============================================*/

.ing-carouselItem {
  padding: 20px 0;
  cursor: pointer;
}

.ing-carouselItem__inner {
  position: relative;
  transition: all ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
  overflow: hidden;
  transform: scale(0.95);

  .ing-carouselItem[class*="swiper-slide-active"] & {
    transform: scale(1.28) translateY(2.5%);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 6px 10px;
  }
}

.ing-carouselItem__title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50%;
  padding: 10px;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 48%, #000000);
  overflow: hidden;

  transition: all ease-out 0.3s;
  transform: translateY(100%);

  .ing-carouselItem[class*="swiper-slide-active"] & {
    transform: translateY(0);
  }
}

.ing-carouselItem__title__inner {
  font-size: 11px;
  line-height: 1.13em;
  font-family: Klavika-Regular;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  // padding-right: 30px;
  margin: 10px;
  color: #fff;
}

.ing-carouselItemRating.tag,
.ing-carouselItemRating.tag-no-classification::before {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.ing-carouselItemRating.tag-no-classification {
  margin:0;
  font-size:0;
}

.ing-carousel {
  .swiper-container {
    padding-top: 143px;
    z-index: 3;
    position: relative;
    margin-bottom: -45px;
    padding-bottom: 30px;

    &::before, &::after {
      bottom: 50px;
    }
  }

  // NEEDFIX
  @media (min-width: 768px) {
    & {
      padding-bottom: 28px;
    }

    .swiper-container {
      &::before, &::after {
        bottom: 50px;
      }
    }

    .swiper-container {
      margin-bottom: -45px;
      padding-bottom: 40px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    background-position-y: 64%;
  }


  @media (min-width: 1024px) {
    .swiper-container {
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 390px;
        width: 115px;
        right: 0px;
        // bottom: 20px;
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(to right, rgba(33, 33, 33, 0) 0, #212121 100%);
      }

      &::before {
        left: 0px;
        right: auto;
        background: linear-gradient(to left, rgba(33, 33, 33, 0) 0, #212121 100%);
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      padding: 60px 25px;
      margin-top: 10px;
    }
  }

/*==============================================
Mobile Only
==============================================*/

  &:not(.mobile-only) {
    @media (min-width: 425px) {
      .ing-carouselItem[class*="swiper-slide-active"] .ing-carouselItem__inner {
        transform: scale(1.25) translateY(2.5%);
      }
    }

    @media (min-width: 768px) {
      .ing-carouselBackground {
        img {
          filter: none;

          &[data-active="true"] {
            opacity: 1;
          }
        }
      }

      .ing-carouselBackground__inner::before {
        width: 80%;
        background: linear-gradient(to right, rgba(33, 33, 33, 0) 0, #212121 80%);
      }

      .ing-carouselDescription__titleWrapper {
        display: block;
      }

      .ing-carouselDescription {
        bottom: 0;
        max-width: 240px;
      }

      .ing-carouselDescription__tagTitle {
        position: absolute;
        top: 0;
      }

      .ing-carouselDescription__link {
        pointer-events: initial;
      }

      .ing-carouselItem.swiper-slide-prev {
        transition: opacity ease-in-out 0.3s;
      }

      .ing-carouselItem {
        opacity: 0;
        pointer-events: none;
      }

      .ing-carouselItem.swiper-slide-prev ~ .ing-carouselItem {
        opacity: 1;
        pointer-events: all;
      }

      .ing-carouselItem[class*="swiper-slide-active"]
        > .ing-carouselItem__inner {
        transform: scale(1.15) translateX(-6.5%) translateY(2.5%);
      }

      .ing-carouselItem__title {
        display: none;
      }
    }

    @media (min-width: 1024px) {
      .ing-carouselDescription {
        max-width: 320px;
      }

      .ing-carouselDescription__titleWrapper {
        width: 320px;
      }

      .ing-carouselDescription__title {
        font-size: 24px;
      }
    }
  }
}


/*==============================================
NEED FIX
mobile and mobileOnly items margin compensation
==============================================*/

@media (min-width: 426px) and (max-width: 767px) {
  :not(.swiper-slide-active) > .ing-carouselItem__inner {
    transform: scale(0.95) translateX(-15%);
  }

  .swiper-slide-active ~ .swiper-slide > .ing-carouselItem__inner {
    transform: translateX(15%);
  }
}

@media (min-width: 768px) {

  .ing-carousel.mobile-only {
    :not(.swiper-slide-active) > .ing-carouselItem__inner {
      transform: scale(0.95) translateX(-10%);
    }

    .swiper-slide-active ~ .swiper-slide > .ing-carouselItem__inner {
      transform: translateX(10%);
    }
  }

}
